.modal-content {
	background-color: #1b1b20 !important;
	color: white;
}

.close {
	color: white;
}

.close:hover {
	color: orange;
	border-style: none !important;
}

.modal-header {
	border-color: orange !important;
}
