#leftTabContent {
    text-align: left; 
    padding-bottom: 10px;
}
#leftTabContentDescTeams {
    text-align: center;
    padding-bottom: 116px;
}
#name {
    text-align: left;
    padding-left: 20px;
}
#joinButton {
    float: right; 
}
#descriptionCard {
    min-height: 206px;
}